<link rel="stylesheets" href="application.css" />

<body>
<h1>ようこそBookersへ！</h1>
<p>
<h4><strong>bookers</strong>では、さまざまな書類に関するあなたの意見や</h4>
</p>
<p>
<h4>印象を共有し交換することができます</h4>
</p>
</body>

<%= link_to "start", "/books" %>
